@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Gilroy";
}

h4 {
    font-size: 1rem;
    color: rgb(56, 56, 56);
}

h3 {
    font-size: 2rem;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    margin: 2rem 0rem;
}

a {
    color: rgb(56, 56, 56);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.table th {
    background-color: #4a5568;
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #e2e8f0;
}

.table tbody tr:nth-child(even) {
    background-color: #edf2f7;
}



/* Add this CSS to your existing styles or create a new stylesheet */
.navbar-link {
    position: relative;
    transition: box-shadow 0.3s ease;
}

.navbar-link:hover {
    box-shadow: 0 4px 8px rgba(17, 17, 17, 0.1);
    /* Adjust shadow as needed */
}

/* Optional: If you want to add a smooth transition between different elements */
.navbar-link+.navbar-link {
    margin-left: 10px;
    /* Adjust the spacing between elements */
}

.active-tab {
    background-color: #cdfda0; /* Set the background color for the active tab */
    color: #000; /* Set the text color for the active tab */
    padding: 3px;
    border-radius: 5px;
  }